.account-container {
  display: flex;
  justify-content: center;
  justify-items: center;
}
h1 {
  justify-content: center;
  justify-items: center;
}

.left-container {
  display: block;
  flex-direction: column;
}

.picture-update-container {
  display: block;
  flex-direction: column;
}
img {
  width: 400px;
}

.account-delete-container {
  display: block;
  flex-direction: column;
}
.delete-image {
  width: 200px;
}

.upload-pic {
  display: block;
  flex-direction: column;
}
