.account-page {
  display: flex;
}

.account-container {
  display: flex;
  justify-items: center;
  margin: auto;
  @media screen and(max-width: 632px) {
    display: block;
  }
  h1 {
    justify-content: center;
    justify-items: center;
  }

  .left-container {
    display: block;
    justify-content: center;
    flex-direction: column;
    img {
      width: 200px;
      justify-content: center;
    }
  }

  .picture-update-container {
    display: block;
    flex-direction: column;
  }

  .account-delete-container {
    display: block;
    flex-direction: column;
    img {
      width: 200px;
    }
  }
  .delete-image {
    width: 350px;
  }

  .upload-pic {
    display: block;
    flex-direction: column;
  }
}
