.authentification-page {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.log-container {
  margin: 0;
  padding: 0;
  display: flex;
}

.connection-form {
  max-width: 400px;
}

.img-container img {
  max-width: 400px;
  margin-left: 50px;
}

.login-form-button {
  color: blue($color: #000000);
}

.messageError {
  color: red;
}

.log-btn li {
  list-style: none;
}

.active-btn {
  background-color: blue;
  color: white;
}

.success {
  color: green;
}
